.root {
  width: 600px;
  margin-top: 16px;
}

.header {
  background-color: black;
  padding: 8px 16px;
  border-radius: 12px 12px 0 0;
  font-size: 18px;
  font-weight: 500;
  color: white;
  width: 100%;
}

.body {
  width: 100%;
  box-shadow: 0px 0px 10px -4px rgba(34, 60, 80, 0.2);
  padding: 8px 16px;
  margin-top: 8px;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 14px;
  font-weight: 500;
  text-transform: lowercase;
}

.text {
  width: calc(100% - 216px);
}

.processedText {
  max-height: 400px;
  overflow: auto;
  margin-top: 8px;
}

.copyButton {
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(129 114 255);
  color: white;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

.copyButton:hover {
  opacity: 0.7;
}
